# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.pytest_cache/

# Environment variables
.env
.env.*

# Data
data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
LICENSE 